.card-root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    padding: 20px;
}

.flex-row-sb-c {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.success {
    margin-top: 10px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #664de5;
    color: #f3f1fd;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.input-and-prefix {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 400px;
}

.prefix {
    font-weight: 300;
    font-size: 14px;
    color: #999;
    background-color: #f8f9fc;
    border: 1px solid #eaeef5;
    padding: 14px;
    border-radius: 5px;
}

@media only screen and (max-width: 600px) {
    .card-root {
       width: 100%;
    }

    .card-input {
        width: auto;
    }

    .card-field {
        width: 300px !important;
    }

    .submit-button {
        width: 300px !important
    }

    .single-tab {
        width: 40% !important;
    }
}